.GenreBadge{
    background: #2a2a2a;
    border-radius: 20px;
    margin: 5px;
    color: white;

}

.GenreBadge:hover{
    background: white;
    color: #2a2a2a;
    cursor: pointer;

}


.text{
    margin-right: 5px;
    margin-left: 5px;

}