.MainLayout{
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(117,117,117,1) 100%);
    min-height: 100vh;
}

.body{
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: start;
}

