.MainLayout{

    color: white;
    background: rgb(171, 171, 171);
    background: linear-gradient(180deg, rgb(171, 171, 171) 0%, rgb(162, 155, 131) 100%);
    min-height: 100vh;
}

.body{
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: start;
}

