.MovieCardFull{
    width: 342px;

}


.MovieCard{
    overflow: hidden;
    height: 560px;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}
.image{
    position: relative;
    top: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

}

.reserveImage{
    display: none;
}

.imageOff{
display: none;
}

.imageOn{
    display: block;
}


.title h4{
    margin: 0;

}

.title{
    margin-top: 7px;
    margin-bottom: 7px;
}

.overview{
    width: 342px;
    height: 63px;
    overflow: hidden;
    margin-bottom: 10px;
    padding-right: 7px;
    padding-left: 7px;
    box-sizing: border-box;

}
.overview p{
    margin: 0;
    text-align: center;

}

.button {
    overflow: hidden;
}
.button button {
    background: white;
    font-size: 15px;
    border: none;
    width:100px;

    border-radius: 10px;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button:hover button {

    border: none;
    width: 150px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}



.MovieCard:hover > .image{
    top: -120px;
    margin-bottom: -120px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;


}

.badge{
    position: relative;
    top: 40px;
    display: flex;
    justify-content: left;
    z-index: 1;
    margin-left: 10px;
    flex-wrap: wrap;
    height: 30px;
    align-items: start;
}

