.Movies{

}


.movie{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    box-sizing: border-box;

}

.searchBox{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 40px;
    top:50px;

}
.awesome{
    font-size: 26px;
    cursor: pointer;
    margin-right: 5px;
}

.text{
    margin-right: 10px;
}

.genre{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}

.genreClick{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;

}
.genreClick .select{
    display: none;


}

.select{
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.search{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchClick{
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchClick .form{
    display: none;;
}



.button{
    display: flex;
    justify-content: center;
    align-items: center;

}



.button button {
    background: white;
    font-size: 15px;
    border: none;
    width:100px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    border-radius: 10px;
    margin: 20px 30px;
}

.button button:hover {

    border: none;
    width: 150px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}